FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=change-this-secret-key-in-production
PORT=5000
HOST=0.0.0.0
MONGODB_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net"
MONGODB_DB_NAME="gta"
